.post-accordeon {
  transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
	opacity: 0;
	box-sizing: border-box;
	margin-top: 0px!important;
	margin-bottom: 0px!important;
	padding-top: 0px!important;
	padding-bottom: 0px!important;
	height: 0px;
  overflow: hidden;
  box-shadow: inset 0px 20px 15px -10px RGBA(0,0,0,0.3), inset 0px -20px 15px -10px RGBA(0,0,0,0.3);
}

.post-accordeon .container:before {
  display: none;
}

.post-accordeon.show {
  opacity: 1;
	padding-top: 30px!important;
	padding-bottom: 30px!important;
  height: 500px;
  overflow-y: scroll;
}

.post-accordeon .post-gradient-button {
  display: block;
  float: right;
  padding: 0px 25px;
  margin: 20px 0px;
  text-align: center;
  box-sizing: border-box;
  color: white;
  font-size: 20px;
  font-family: 'Dosis',Helvetica,Arial,Lucida,sans-serif;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3705b+0,ef495e+100 */
  background: #f3705b; /* Old browsers */
  background: -moz-linear-gradient(left, #f3705b 0%, #ef495e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f3705b 0%,#ef495e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f3705b 0%,#ef495e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3705b', endColorstr='#ef495e',GradientType=1 ); /* IE6-9 */
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.4);
}

.post-accordeon .post-bottom-line {
  height: 5px;
  margin-top: 20px;
  margin-bottom: 25px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3705b+0,ef495e+100 */
  background: #f3705b; /* Old browsers */
  background: -moz-linear-gradient(left, #f3705b 0%, #ef495e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f3705b 0%,#ef495e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f3705b 0%,#ef495e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3705b', endColorstr='#ef495e',GradientType=1 ); /* IE6-9 */
}